body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.center{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    perspective: 20px;
    display: flex;
    flex-direction: column;
}

.main{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
}

.main img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main img :nth-child(1){
    transform: translateZ(-10px) scale(1);
}

.main img:nth-child(2) {
    transform: translateZ(-4px) scale(1);
}

.main img:nth-child(3) {
    transform: translateZ(-15px) scale(2);
}

.main img:nth-child(4) {
    transform: translateZ(-15px) scale(1.75);
}

.content{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: rgb(103, 147,32);
    
}

.heading{
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: bold;
    
}

.smallbox{
    display: inline-flex;
    margin-left: 100px;
    margin-top: 50px;
    
}

.footer{
    width: 100%;
    height: 1500px;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: whitesmoke;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row1{
    width: 100%;
    background-color: black;
    height: 300px;
    color: whitesmoke;
    
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    padding: 10px;
    flex-basis: 25%;
}
.col h3{
    padding-left: 10px;
    text-decoration: underline;
    width: fit-content;
}
.col p{
    line-height: 25px;
    padding-left: 10px;
}

.col .p1{
    margin-left: 80px;

}


ul li{
    list-style: none;
    margin-bottom: 12px;
    margin-left: 55px;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.email{
    border-bottom: 1px solid red;
    width: fit-content;
}
.col.p2{
    line-height: 0px;
}

/* footer icon styling */

.icons .fa-brands{
    height: 40px;
    width: 80px;
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    font-size: 45px;
    
}



